
node_modules/*

# Environment variables
.env
app/backend/.env

# Firebase Admin credentials
app/backend/firebase-admin.json

# Virtual environment
venv/

# IDE
.idea/

# OS
.DS_Store
/build/*
.vercel
